.DS_Store
/node_modules
/dist
/src/dataProcessingXD/LetsGo.ipynb


/public/mapData/*

!/public/mapData/unsafety_*
!/public/mapData/public_*


# local env files
.env.production
.env.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules

# Firebase
/.firebase
.firebase
.firebaserc
firebase.json
*.cache

dist.tar.gz
*.sh

# some files YSQ needs
src/func.py
src/hackathon_workshop_ETL.ipynb
src/tp_building_height84.geojson
src/臺北程式設計節黑客松-工作坊簡報.pdf

